* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    
    /* border: salmon .5px solid; */

    
}
html{
    font-size: 16px;
    font-family: 'Inter', sans-serif ;
    scroll-padding-top: var(--font-19);
}
#hero {
    height: 100vh;
    background: linear-gradient(to bottom right, rgba(173, 216, 230, 0.6) 0%, rgba(173, 216, 230, 0));
    
    height: 100vh;
    margin: 0;

}
#skills {
    padding-top: var(--font-200px);
    padding-bottom: var(--font-200px);
}






/* Base Styles */
:root {
    /* Colors */
    --background-1:#fefefe;
    --text-black: black;
    --gray-light: #413f3e;
    --gray-dark: #161616;
    --orange: #ff1e00;
    --blue: #3b4c5e;

    /* Sizes */
    --font-1: 0.375rem; /* 6px */
    --font-2: 0.5rem;   /* 8px */
    --font-3: 0.625rem; /* 10px */
    --font-4: 0.75rem;  /* 12px */
    --font-5: 0.875rem; /* 14px */
    --font-6: 1rem;     /* 16px */
    --font-7: 1.125rem; /* 18px */
    --font-8: 1.25rem;  /* 20px */
    --font-9: 1.375rem; /* 22px */
    --font-10: 1.5rem;  /* 24px */
    --font-11: 1.625rem; /* 26px */
    --font-12: 1.75rem;  /* 28px */
    --font-13: 1.875rem; /* 30px */
    --font-14: 2rem;     /* 32px */
    --font-15: 2.125rem; /* 34px */
    --font-16: 2.25rem;  /* 36px */
    --font-17: 3.75rem;  /* 60px */
    --font-18: 4.75rem;  /* 76px */
    --font-19: 5rem;     /* 80px */
    --font-20: 6.25rem;  /* 100px */
    --font-150px: 9.375rem; /* 150px */
    --font-200px: 12.5rem; /* 200px */
    --font-300px: 18.75rem; /* 300px */
    --font-21: 25rem;    /* 400px */
    --font-22: 37.5rem;  /* 600px */
    
    --container-width: 1200px;
   
    --transition: all 0.3s ease;
    --shadow: 0 var(--font-3) var(--font-4) -3px rgba(0, 0, 0, 0.1), 0 var(--font-1) var(--font-2) -2px rgba(0, 0, 0, 0.05);
}

.divider {
    width: 100%;
    height: 1px;
    background-color: var(--text-black);
}
.divider-2 {
    width: 100%;
    height: 1px;
    background-color: var(--text-black);
}
body {
    /* font-family: 'Special Elite', monospace; */
    font-family: 'Playfair Display', serif;
    line-height: 1.6;
    background-color: var(--background-1);
    overflow-x: hidden;
}

/* Hero Start */
img {
    max-width: 100%;
    height: auto;
    display: block;
   }


a {
    text-decoration: none;
    color: var(--text-black);
    transition: var(--transition);
}

ul {
    list-style: none;
}

.container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--font-3);
}
.container-1{
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    padding: 0 var(--font-3);
}

section {
    padding: var(--font-9) 0;
    position: relative;
}

section:nth-child(even) {
    background-color: var(--background-1);
}

.btn {
    display: inline-block;
    padding: var(--font-2) var(--font-11);
    border-radius: var(--border-radius);
    font-weight: 600;
    text-align: center;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    font-size: var(--font-4);
}

.btn.primary {
    background-color: var(--gray-dark);
    color: var(--background-1);
}

.btn.primary:hover {
    border: 1px solid var(--background-1);
    color: var(--black-color);
    background-color: var(--orange);
}

.btn.secondary {
    border: 1px solid var(--text-black);
    background-color: var(--background-1);
    color: var(--text-black);
}

.btn.secondary:hover {
    
    color: var(--background-1);
    background-color: var(--blue);
}

.skills-header {
    text-align: center;
   
}



/* Header Styles */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--background-1);
    box-shadow: var(--shadow);
    padding: var(--font-6) 0;
    z-index: 1000;
    transition: var(--transition);
    
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


.logo a {
    font-size: var(--font-12);
    font-weight: 700;
    color: var(--text-black);
    letter-spacing: 0.5px;
}

.logo a span {
    color: purple;
}

nav ul {
    display: flex;
    align-items: center;
    background-color: "";
    
}

nav ul li {
    margin-left: var(--font-11);
}

nav ul li a {
    color: var(--text-black);
    font-weight: 500;
    font-size: var(--font-8);
    position: relative;
}

nav ul li a:hover {
    color: var(--text-black);
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: var(--text-black);
    bottom: -5px;
    left: 0;
    transition: var(--transition);
}

nav ul li a:hover::after {
    width: 100%;
}

.menu-toggle {
    display: none;
    font-size: var(--font-8);
    cursor: pointer;
    color: var(--blue);
}


/* Background bubble effect */



.background-bubbles {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Place behind the content */
}

.bubble {
    position: absolute;
    border-radius: 50%;
    opacity: 1.0;
}

.bubble-skills {
    width: 80vw;
    height: 80vw;
    background: red;
    top: -50vh;
    left: 1vw;
    opacity: 90%;
}
.bubble-2 {
    width: 60vw;
    height: 80vw;
    background: radial-gradient(circle, rgba(173, 216, 230, 0.6) 0%, rgba(173, 216, 230, 0) 60%);
    top: 1vh;
    left: 1vw;
    opacity: 100%;
}
.bubble-3 {
    width: 80vw;
    height: 80vw;
    background: radial-gradient(circle, rgba(173, 216, 230, 0.6) 0%, rgba(173, 216, 230, 0) 70%);
    top: 5vh;
    left: 10vw;
    opacity: 100%;
}


.hero-text-1 h3 {
    margin: 0;
    padding: 0;
    color: var(--blue);
    line-height: 1.3;
    font-weight: 800;
    font-size: 5.5rem;
    letter-spacing: -0.05em;
}

/* Add gradient to first h3 */
.hero-text-1 h3:first-child {
    background: linear-gradient(90deg, 
        #ff1e00 0%, 
        #ff1e00 40%, 
        #3b4c5e 70%, 
        #3b4c5e 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Tighten spacing between headings */
.hero-text-1 h3 + h3 {
    margin-top: -0.2em;
}
.hero-content {
    position: relative;
    z-index: 1; /* Ensure content is above the bubbles */
}
#hero {
    
    display: flex;
    align-items: center;
    background-color: var(--background-dark);
    /* padding-top: var(--font-20); */
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--font-1);
    
    
}

.hero-text {
    flex: 1;
}

.hero-text-1 h3 {
    font-size: var(--font-17);
    letter-spacing: -0.05em;
}






.hero-text-1 p {
    color: var(--gray-light);
    font-family: 'Courier New', Courier, monospace;
    /* padding-top: var(--font-8); */
    padding-bottom: var(--font-8);
    font-size: var(--font-7);
    /* margin-bottom: var(--font-16); */
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: var(--font-6);
}
/* image container */

.image-container {
   
    position: relative;
    height: 450px;
    width: 350px; /* Base size */
    max-width: 100%; /* Ensures it never exceeds parent container */
    aspect-ratio: 1 / 1; /* Maintains square shape */
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center; 
    transform: scale(1); /* 0.9 = 90% of original size */
    transform-origin: center;
    filter: grayscale(100%) contrast(1.1) brightness(1.05);
}

.image-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2%; /* adjust fade height */
    /* background: linear-gradient(to bottom, transparent, var(--background-1)); */
    pointer-events: none;
}



/* Skills Section Styles */

#skills {
    position: relative;
    overflow: hidden;
}


#skills {
    color: var(--text-black);
    background-color: var(--background-1);
    /* padding-top: var(--font-18);
    padding-bottom: var(--font-18); */
}

#skills h2 {
    /* color: var(--background-tan); */
    font-size: var(--font-14);
}
.skills-content {
    display: flex;
    flex-direction: column;
    gap: var(--font-18);
    
}

.skill-category h3 {
    font-size: var(--font-12);
    padding-bottom: var(--font-19);
    /* margin-bottom: var(--font-10); */
    
    text-align: center;
}

.skills-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--font-17);
}

.skill-item {
    text-align: center;
    /* padding: var(--font-13) var(--font-8); */
    
    transition: var(--transition);
    
    /* border: 1px solid #e0e0e0; */
    /* border-radius: var(--font-2); */
    /* box-shadow: 0 var(--font-1) var(--font-4) rgba(0, 0, 0, 0.08);
    position: relative;
    overflow: hidden;
    margin: var(--font-3); */
}



.skill-item i {
    font-size: var(--font-17);
    
    /* margin-bottom: var(--font-4); */
}

.skill-item h4 {
    /* margin-bottom: var(--font-4); */
    font-size: var(--font-7);
   
}
/* for klaviyo */
.skill-icon-container {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto var(--font-4) auto;
  }
  
  .skill-icon {
    max-height: 80%;
    max-width: 60%;
    object-fit: contain;
  }


.skill-item .fab.fa-html5 { color: #e34c26; }
.skill-item .fab.fa-css3-alt { color: #264de4; }
.skill-item .fa.fa-envelope { color: #0078d4; }
.skill-item .fa-mobile-screen-button { color: #00d2ff; }
.skill-item .fab.fa-python { color: #3776ab; }
.skill-item .fas.fa-flask { color: var(--gray-light)}
.skill-item .fas.fa-database { color: #f29111; }
.skill-item .fas.fa-docker { color: #2496ed; }
.skill-item .fab.fa-git-alt { color: #f05032; }
.skill-item .skill-category:nth-child(3) .fa.fa-envelope { color: #00b5ad; }
.skill-item .fas.fa-mobile-alt { color: #5c6bc0; }
.skill-item .fas.fa-universal-access { color: #00897b; }


/* About Me Start */
#about {
    background: linear-gradient(to bottom right, rgba(173, 216, 230, 0.6) 0%, rgba(173, 216, 230, 0));
    
}
.about-heading {
    text-align: center;
   
    width: 100%;
}
.about-heading h3 {
    color: var(--text-black);
    font-size: var(--font-14);
    padding-bottom: var(--font-12);
}
#about {
    /* height: 100vh; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: var(--background-dark);
    /* padding-top: var(--font-18); */
}

.about-container {
    width: 100%;
    max-width: var(--container-width);
    margin: 0 auto;
    /* padding: 0 var(--font-3); */
}
.about-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--font-1);
}
.about-text {
    flex: 1;
    max-width: 600px;
    padding-bottom: var(--font-10);
    
}

.about-image {
    flex: 1;
    align-items: center;
    padding-right: 16px; 
    overflow: hidden;
    max-width: 600px;
    margin-right: auto;
    filter: grayscale(100%) contrast(1.1) brightness(1.05);
}
.image-container {
    background-color: var(--light-color);
}



/* Projects Section Styles */
.section-header-projects {
    
    font-size: var(--font-14);
    text-align: center;
    /* margin-bottom: var(--font-18); */
}
.section-header-projects h2 {
    font-size: var(--font-14);
}
#projects {
    background-color: var(--background-1);
    /* padding-top: var(--font-17);
    padding-bottom: var(--font-18); */
}
.projects-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap: var(--font-13); */
}

.project-card {
    border: 1px solid var(--text-black); 
    margin: var(--font-3);
    overflow: hidden;
    box-shadow: var(--shadow);
    transition: var(--transition);
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-image {
    height: 250px;
    overflow: hidden;
}

.project-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: var(--transition);
}

.project-card:hover .project-image img {
    transform: scale(1.05);
}

.project-content {
    position: relative;
    /* padding-bottom: 10px;  */
    height: 175px; 
    padding: var(--font-13) var(--font-8);
}

.project-content h3 {
    font-size: var(--font-9);
    /* margin-bottom: var(--font-4); */
    color: var(--text-black);
}

.project-content p {
    /* margin-bottom: var(--font-8); */
    font-size: var(--font-4);
}

.project-tech {
    position: absolute;
    /* bottom: 60px;  */
    left: var(--font-10);
} 

.project-tech span {
    background-color: var(--gray-light);
    color: var(--background-1);
    padding: var(--font-2) var(--font-4);
    /* border-radius: var(--font-8); */
    font-size: var(--font-4);
    font-weight: 600;
}

.project-links {
    position: absolute;
    bottom: 20px; 
    left: var(--font-10);
    display: flex;
    gap: var(--font-8);
    width: calc(100% - 2 * var(--font-10)); /* Full width minus padding */
}

.project-links a {
    display: flex;
    align-items: center;
    gap: var(--font-2);
    font-weight: 600;
    font-size: var(--font-4);
}

.project-links a:hover {
    color: var(--orange);
}

/* Experience Section Styles */
#experience {
    background: linear-gradient(to bottom right, rgba(173, 216, 230, 0.6) 0%, rgba(173, 216, 230, 0));
    
}
.timeline {
    
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.timeline::before {
    
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: var(--font-1);
    height: 100%;
    background-color: var(--gray-light);
}

.timeline-item {
    
    position: relative;
    width: 100%;
    padding: var(--font-13) 0;
}

.timeline-item:nth-child(odd) .timeline-content {
    border: 1px solid black;
    margin-right: auto;
    margin-left: 0;
    text-align: right;
}

.timeline-item:nth-child(even) .timeline-content {
    border: 1px solid black;
    margin-left: auto;
    margin-right: 0;
    text-align: left;
}

.timeline-content {
    position: relative;
    width: 45%;
    padding: var(--font-13);
    background-color: var(--background-1);
    border-radius: 1px var(--text-black) var(--border-radius);
    box-shadow: var(--shadow);
}

.timeline-content::after {
    content: '';
    position: absolute;
    top: var(--font-13);
    width: var(--font-8);
    height: var(--font-8);
    background-color: var(--gray-dark);
    border: var(--font-1) solid var(--primary-color);
    border-radius: 50%;
}

.timeline-item:nth-child(odd) .timeline-content::after {
    right: -60px;
}

.timeline-item:nth-child(even) .timeline-content::after {
    left: -60px;
}

.timeline-content .date {
    display: inline-block;
    padding: var(--font-2) var(--font-4);
    background-color: var(--primary-color);
    color: var(--white-color);
    /* border-radius: var(--font-8); */
    font-size: var(--font-4);
    font-weight: 500;
    /* margin-bottom: var(--font-4); */
}

.timeline-content h3 {
    font-size: var(--font-8);
    /* margin-bottom: var(--font-2); */
    color: var(--dark-text);
}

.timeline-content h4 {
    font-size: var(--font-6);
    color: var(--primary-color);
    /* margin-bottom: var(--font-4); */
}

.timeline-content p {
    font-size: var(--font-4);
}

/* Contact Section Styles */
#contact {
    background-color: var(--background-1);
    /* padding-top: var(--font-18); */
}
.contact-content {
    display: flex;
    gap: var(--font-17);
    background-color: var(--background-1);
    
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-info h3 {
    font-size: var(--font-11);
    /* margin-bottom: var(--font-8); */
    color: var(--text-black);
}

.contact-info p {
    /* margin-bottom: var(--font-13); */
    font-size: var(--font-6);
}


.contact-item {
    display: flex;
    align-items: center;
    /* margin-bottom: var(--font-4); */
}

.contact-item i {
    font-size: var(--font-8);
    color: var(--text-black);
    margin-right: var(--font-4);
    width: var(--font-13);
}

.contact-item a, .contact-item span {
    font-size: var(--font-6);
}

.social-links {
    display: flex;
    gap: var(--font-4);
    padding-top: var(--font-1);
    padding-bottom: var(--font-6);
}

.social-links a {

    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--font-16);
    height: var(--font-16);
    background-color: var(--gray-light);
    color: var(--background-1);
    border-radius: 50%;
    font-size: var(--font-8);
    transition: var(--transition);
}

.social-links a:hover {
    
    background-color: var(--text-black);
    transform: translateY(-5px);
}

.contact-form {
    background-color: white;
    padding: var(--font-16);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
}

.form-group {
    margin-bottom: var(--font-8);
}

.form-group label {
    display: block;
    margin-bottom: var(--font-2);
    font-weight: 500;
    color: var(--text-black);
}

.form-group input, 
.form-group textarea {
    width: 100%;
    padding: var(--font-4) var(--font-4);
    border: 1px solid var(--text-black);
    border-radius: var(--border-radius);
    font-family: inherit;
    font-size: var(--font-6);
    transition: var(--transition);
}

.form-group input:focus, 
.form-group textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 var(--font-1) rgba(14, 165, 233, 0.2);
}

/* Footer styling with hover underline effect */

footer {
    background-color: var(--gray-dark);
    color: var(--background-1);
}
.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
   
}


.footer-logo a {
    color: var(--white-color);
    font-weight: 700;
    font-size: var(--font-9);
    text-decoration: none;
    background-color: var(--background-dark);
    
}

.footer-nav {
    display: flex;
    align-items: center;
    
}

.footer-nav a {
    margin-left: var(--font-11);
    color: var(--white-color);
    font-weight: 500;
    font-size: var(--font-8);
    position: relative;
    text-decoration: none;
    
}

.footer-nav a:hover {
    color: var(--background-1);
}

.footer-nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    background-color: var(--background-1);
    bottom: -5px;
    left: 0;
    transition: var(--transition);
}

.footer-nav a:hover::after {
    width: 100%;
}
.footer-social {
    display: flex;
    gap: var(--font-4);
}


.footer-social a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--font-16);
    height: var(--font-16);
    background-color:var(--background-dark);
    color: var(--white-color);
    border-radius: 50%;
    font-size: var(--font-7);
    transition: var(--transition);
}

.footer-social a:hover {
    background-color: var(--primary-color);
}

.copyright {
    text-align: center;
    /* padding-top: var(--font-8); */
    padding-bottom: var(--font-8);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: var(--font-4);
    color: var(--white-color);
}





/* Tablet landscape and medium screens */
@media (max-width: 992px) {
    /* General styles */
    html {
        font-size: 15px;
        /* color: purple; */
    }
    
    /* Hero section */
    #hero {
        
        padding-top: 1px;
        padding-bottom: 1px;
    }
    
    .hero-buttons {
        display: flex;
        justify-content: center;
    }
    
    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: var(--font-22);
        margin: 0 auto;
    }
    
    /* Skills section */
    .skills-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* Projects section */
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--font-13);
    }
    
    /* About section */
    .about-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    
    .about-content {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        max-width: 90%;
    }
    
    .about-text-1 {
        order: 1;
        width: 100%;
        /* margin-bottom: var(--font-8); */
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .about-image {
        order: 2;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto; /* Center the container itself */
        max-width: 100%; /* Ensure it takes full width */
    }
    
    .image-container-about {
        max-width: var(--font-300px);
        margin: 0 auto;
        width: 100%; 
    }
    
    .about-text {
        text-align: left;
        max-width: 100%;
    }
     /* Contact section */
     .contact-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }
    
    .contact-info {
        order: 1;
        width: 100%;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 90%;
        margin: 0 auto var(--font-8);
    }
    
    .contact-form {
        order: 2;
        width: 100%;
        max-width: 90%;
        margin: 0 auto;
    }
    
    .contact-details {
        width: 100%;
    }
    
    .social-links {
        width: 100%;
        display: flex;
        justify-content: left;
        margin-top: var(--font-6);
    }
    
    #contactForm {
        width: 100%;
    }
    .section-header {
        padding-left: 42px;
    }
    .contact-info {
        
        text-align: left;
        align-items: flex-start; 
        
    }
    .contact-info h3 {
        padding-bottom: var(--font-6);
    }
    .contact-info p {
        padding-bottom: var(--font-12);
    }
    
}



/* Tablet portrait */
@media (max-width: 768px) {
    html { 
        font-size: 13px;
        /* color: pink; */
    }  
    
    section {
        padding: var(--font-18) 0;
    }
    
    #hero {
        /* padding-top: var(--font-21); */
        padding-bottom: var(--font-21);
    }
    
    .menu-toggle {
        display: block;
    }
    
    nav ul {
        position: fixed;
        top: var(--font-18);
        left: 0;
        width: 100%;
        flex-direction: column;
        background-color: white;
        box-shadow: 0 var(--font-3) var(--font-4) rgba(0, 0, 0, 0.1);
        padding: var(--font-8) 0;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition: 0.5s ease;
    }
    
    nav ul.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    
    nav ul li {
        margin: var(--font-4) 0;
    }
   
    .hero-text h1 {
        font-size: var(--font-16);
    }
    
    .hero-text h2 {
        font-size: var(--font-10);
    }
    
    .section-header h2 {
        font-size: var(--font-13);
    }
    .image-container img {
        width: 80%;
        height: 80%;
        object-fit: cover;
        object-position: top center; 
        transform: scale(1); /* 0.9 = 90% of original size */
        transform-origin: center; /* Keeps it centered while scaling */
        filter: grayscale(100%) contrast(1.1) brightness(1.05);
    }
    .hero-content {
        flex-direction: column;
    }
    
    .hero-text {
        order: 1; /* Makes text come first */
        width: 100%; /* Full width on mobile */
        text-align: center; /* Optional - centers the text */
        /* margin-bottom: var(--font-8);  */
    }
    
    .hero-image {
        order: 2; /* Makes image come second */
        width: 100%; /* Full width on mobile */
        display: flex;
        justify-content: center; /* Centers the image container */
    }
    
    /* Adjust image size as needed */
    .image-container {
        width: 80%;
        max-width: var(--font-300px); /* Prevents image from getting too large */
        margin: 0 auto; /* Centers the container */
    }
    
   
   
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--font-13);
    }
    .section-header {
        padding-left: var(--font-12);
    }
    .contact-info {
        
        text-align: left;
        align-items: flex-start; 
        
    }
    .contact-info h3 {
        padding-bottom: var(--font-6);
    }
    .contact-info p {
        padding-bottom: var(--font-12);
    }
    
}

/* Mobile landscape */
@media (max-width: 767px) {
    html { 
        font-size: 14px;
        /* color: #00b5ad; */
    }
    #hero {
        padding-top: var(--font-22);
    }
    .image-container {
        width: 80%;
        max-width: var(--font-21); /* Prevents image from getting too large */
        margin: 0 auto; /* Centers the container */
    }
    section {
        padding: var(--font-1) 0;
    }
    
    .skills-grid {
        grid-template-columns: 1fr;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: var(--font-13);
    }
    .section-header {
        padding-left: var(--font-12);
    }
    .contact-info {
        
        text-align: left;
        align-items: flex-start; 
        
    }
    .contact-info h3 {
        padding-bottom: var(--font-6);
    }
    .contact-info p {
        padding-bottom: var(--font-12);
    }
    
    
    
    
}

/* Mobile portrait */
@media (max-width: 576px) {
    html { 
        font-size: 10px;
        /* color: #e34c26; */
    }
    
   
   
    
    .btn.primary,
    .btn.secondary {
        width: var(--font-150px); 
        display: block;
        margin: 0 auto;
    }
    
    .btn {
        padding: var(--font-3) var(--font-10);
        font-size: var(--font-4);
    }
    
    .hero-buttons {
        flex-direction: column;
        gap: var(--font-4);
    }
    
    .image-container {
        width: 100%;
        max-width: var();
        height: auto;
        background-color: var(--light-color);
    }
    #hero {
        padding-top: var(--font-16);
        padding-bottom: var(--font-10);
    }
    #skills {
        padding-top: var(--font-12);
        padding-bottom: var(--font-12);
    }
    #about {
        padding-top: var(--font-17);
        padding-bottom: var(--font-18);
    }
    #projects {
        padding-top: var(--font-6);
        padding-bottom: var(--font-2);
    }
    .project-content h3 {
        font-size: var(--font-14);
    }
    .project-content p {
        font-size: var(--font-10);
    }
    .project-links a {
        font-size: var(--font-10);
    }
    .section-header-projects {
        padding-top: var(--font-18);
    }
    .about-text h3 {
        font-size: var(--font-10);
    }
    .projects-grid {
        padding-top: var(--font-20);
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--font-13);
    }
    
    .timeline-content {
        padding: var(--font-8);
    }
    .section-header {
        padding-left: var(--font-12);
    }
    .contact-info {
        
        text-align: left;
        align-items: flex-start; 
        
    }
    .contact-info h3 {
        padding-bottom: var(--font-6);
    }
    .contact-info p {
        padding-bottom: var(--font-12);
    }
     /* Footer mobile adjustments */
     .footer-content {
        flex-direction: column;
        gap: 1.5rem;
    }
    
    .footer-logo {
        margin-bottom: 1rem;
    }
    
    .footer-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 1rem;
    }
    
    .footer-nav a {
        margin-left: 0; /* Reset the left margin */
        margin: 0 0.5rem; /* Add margin on both sides */
    }
    
    
    
}